<div class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50 ">
  <div class="bg-white rounded-lg shadow-lg p-6 w-80">
    <h3 class="text-lg font-semibold mb-4 text-center">Seleccioná un horario</h3>

    <div class="flex flex-wrap justify-center gap-2 mb-4 max-h-72 overflow-y-auto mt-2 py-4">
      <button 
        *ngFor="let h of horarios" 
        (click)="seleccionar(h)"
        class="rounded border px-3 py-1 hover:bg-primary transition focus:outline-none focus:ring-2 focus:ring-primary"
        [class.bg-primary]="horarioActual === h"
        [class.text-white]="horarioActual === h">
        {{ h }}
      </button>
    </div>

    <div class="flex justify-end gap-3">
      <button (click)="cancelar()" class="btn btn-secondary">Cancelar</button>
      <button (click)="seleccionarHorario()" class="btn btn-primary" [disabled]="!horarioActual">Seleccionar</button>
    </div>
  </div>
</div>
