<nav class="navbar navbar-expand-lg px-3">
   <mat-toolbar class="justify-content-between toolbar align-items-center">
         <div class="d-flex items-center gap-2 justify-center">
            <img class="w-10" src="./assets/logo.svg">
            <span class="text-white" style="cursor: pointer" (click)="onClickLogo()">ClinicaVT</span>
         </div>
       <div>
          @if(this.usuarioEstaLogueado()) {
            <div class="position-absolute top-50 start-50 translate-middle d-flex gap-2">
             <button routerLink="/turnos" class="btn text-white fs-5" *appMostrarSiRol="TipoUsuario.Administrador">Turnos</button>
             <button routerLink="/misTurnos" class="btn text-white fs-5" *appMostrarSiRol="[TipoUsuario.Paciente, TipoUsuario.Especialista]">Mis turnos</button>
             <button routerLink="/usuarios" class="btn text-white fs-5" *appMostrarSiRol="TipoUsuario.Administrador">Usuarios</button>
             <button routerLink="/solicitarTurno" class="btn text-white fs-5" *appMostrarSiRol="[TipoUsuario.Administrador, TipoUsuario.Paciente]">Solicitar turno</button>
             <button routerLink="/home" class="btn text-white fs-5">Mi perfil</button>
           </div>
          }
       </div>
      <div class="d-flex align-items-center gap-3">
            @if (!this.usuarioEstaLogueado()) {
            <button routerLink="/login" class="btn fs-6 bg-white boton-login">Iniciar sesión</button>
            <button routerLink="/register" class="btn fs-6 text-white boton-login bg-success m-2">Registrarme</button>
            }
            @else {
            <div class="d-flex align-items-center bg-white rounded-pill px-2 py-1 shadow-sm" >
               <i class="bi bi-person-circle me-1 text-primary" style="font-size: 1rem;"></i>
               <span class="text-dark fw-medium small text-truncate fs-6">
                  {{ this.auth.usuarioLogueado?.email }}
               </span>
            </div>
            <button class="btn btn-outline-light btn-sm d-flex align-items-center" (click)="logout()">
               <i class="bi bi-box-arrow-right me-1"></i>
               <span class="small">Logout</span>
            </button>
            }
         </div>
   </mat-toolbar>
</nav>

<main>
   <app-spinner></app-spinner>
   <div [@routeAnimations]="getAnimationState()">
      <router-outlet #outlet="outlet"></router-outlet>
   </div>
   <ng-toast />
</main>

<footer class="bg-gray-900 text-white py-6 text-center mt-2 footer" >
    <p class="text-sm">
        &copy; {{ currentYear }} Clínica VT. Todos los derechos reservados.
    </p>
    <p class="text-xs text-gray-400 mt-1">
        Hecho con ❤️ en Argentina
    </p>
</footer>

