<div class="d-flex">
  <app-sidebar-accesos></app-sidebar-accesos>

  <div class="flex-grow-1 p-4">
    <div class="card shadow-sm">
      <div class="card-body text-center">
        <div class="d-flex align-items-center justify-content-center">
          <img [src]="usuario.imagen" alt="Imagen de perfil" class="rounded-circle mb-3" width="100" height="100" />
        </div>
        <h5 class="card-title">{{ usuario.nombre }} {{ usuario.apellido }}</h5>
        <p class="card-text text-muted">{{ usuario.email }}</p>
        <p>Edad: {{ usuario.edad }}</p>
        <p>DNI: {{ usuario.dni }}</p>
      </div>
      <div class="m-3">
        <app-informes></app-informes>
      </div>
    </div>
  </div>
</div>
