<div class="container mt-4">
  <div class="flex justify-between items-center border-b border-gray-300 mb-4">
    
    <div>
      <button class="px-4 py-2 font-semibold"
              [ngClass]="solapaActiva === 'pacientes' ? 'border-b-2 border-blue-600 text-blue-600' : 'text-gray-600'"
              (click)="solapaActiva = 'pacientes'">Pacientes</button>
      <button class="px-4 py-2 font-semibold ml-4"
              [ngClass]="solapaActiva === 'especialistas' ? 'border-b-2 border-blue-600 text-blue-600' : 'text-gray-600'"
              (click)="solapaActiva = 'especialistas'">Especialistas</button>
    </div>

    <button class="btn btn-primary" (click)="onAgregarAdministrador()">
      Agregar administrador
    </button>
  </div>

  @if(solapaActiva === 'pacientes') {
    <app-vista-pacientes *ngIf="solapaActiva === 'pacientes'"></app-vista-pacientes>
  }
  @else {
    <app-vista-especialistas *ngIf="solapaActiva === 'especialistas'"></app-vista-especialistas>
  }
</div>
