<div class="container mt-4">
  <div class="flex justify-between items-center border-b border-gray-300 mb-4">
    
    <!-- <div>
      <button class="px-4 py-2 font-semibold"
              [ngClass]="solapaActiva === 'pacientes' ? 'border-b-2 border-blue-600 text-blue-600' : 'text-gray-600'"
              (click)="solapaActiva = 'pacientes'">Pacientes</button>
      <button class="px-4 py-2 font-semibold ml-4"
              [ngClass]="solapaActiva === 'especialistas' ? 'border-b-2 border-blue-600 text-blue-600' : 'text-gray-600'"
              (click)="solapaActiva = 'especialistas'">Especialistas</button>
      <button class="px-4 py-2 font-semibold ml-4"
              [ngClass]="solapaActiva === 'administradores' ? 'border-b-2 border-blue-600 text-blue-600' : 'text-gray-600'"
              (click)="solapaActiva = 'administradores'">Administradores</button>              
    </div> -->

    
    <button (click)="cambiarSolapa('pacientes')">Pacientes</button>
    <button (click)="cambiarSolapa('especialistas')">Especialistas</button>
    <button (click)="cambiarSolapa('administradores')">Administradores</button>

    <div>
      <button class="btn btn-success" (click)="descargarTodosUsuarios()">
        <i class="bi bi-person-plus-fill me-1"></i>
        Descargar todos los usuarios
      </button>
    </div>
  </div>


  <ng-container *ngIf="solapaActiva === 'pacientes'">
    <div [@slideContainer]="{ value: '', params: getDireccion() === 'izquierda' ? { enterTransform: 'translateX(100%)', leaveTransform: 'translateX(-100%)' } : { enterTransform: 'translateX(-100%)', leaveTransform: 'translateX(100%)' } }">
      <app-vista-pacientes></app-vista-pacientes>
    </div>
  </ng-container>

  <ng-container *ngIf="solapaActiva === 'especialistas'">
    <div [@slideContainer]="{ value: '', params: getDireccion() === 'izquierda' ? { enterTransform: 'translateX(100%)', leaveTransform: 'translateX(-100%)' } : { enterTransform: 'translateX(-100%)', leaveTransform: 'translateX(100%)' } }">
      <app-vista-especialistas></app-vista-especialistas>
    </div>
  </ng-container>

  <ng-container *ngIf="solapaActiva === 'administradores'">
    <div [@slideContainer]="{ value: '', params: getDireccion() === 'izquierda' ? { enterTransform: 'translateX(100%)', leaveTransform: 'translateX(-100%)' } : { enterTransform: 'translateX(-100%)', leaveTransform: 'translateX(100%)' } }">
      <app-vista-administradores></app-vista-administradores>
    </div>
  </ng-container>
</div>
