<div class="d-flex">
  <app-sidebar-accesos></app-sidebar-accesos>

  <div class="flex-grow-1 p-4">
    <div class="card shadow-sm overflow-hidden position-relative">

      <div class="bg-secondary" style="height: 180px; background-position: center; background-size: cover;"
           [ngStyle]="{ 'background-image': 'url(' + usuario.urlImagenDos + ')' }">
      </div>

      <div class="text-center d-flex justify-content-center" style="margin-top: -60px;">
        <img [src]="usuario.urlImagenUno" alt="Foto de perfil"
             class="rounded-circle border border-white shadow" width="120" height="120" />
      </div>

      <div class="card-body text-center">
        <h5 class="card-title">{{ usuario.nombre }} {{ usuario.apellido }}</h5>
        <p class="card-text text-muted">{{ usuario.email }}</p>
        <p>Edad: {{ usuario.edad }}</p>
        <p>DNI: {{ usuario.dni }}</p>
        <p>Obra Social: {{ usuario.obraSocial || 'Sin especificar' }}</p>

        <button class="btn btn-outline-primary mt-3"
                (click)="mostrarHistorialClinico()">
          <i class="bi bi-calendar-check me-1"></i> Ver Historial Clínico
        </button>
      </div>
    </div>
  </div>
</div>
