<div class="container py-4">
  <div class="flex justify-between items-center mb-3">
    <button class="btn btn-outline-success" (click)="onExportarExcel()">
      <i class="bi bi-file-earmark-excel"></i>
      Exportar
    </button>
  </div>

  <div class="card shadow-sm">
    <div class="card-header bg-primary text-white text-center">
      <h5 class="m-0">Listado de Usuarios</h5>
    </div>
    <div class="card-body p-0">
      <div class="table-responsive">
        <table class="table table-bordered table-hover mb-0">
          <thead class="table-light">
            <tr>
              <th>Imagen</th>
              <th>Nombre</th>
              <th>Apellido</th>
              <th>Email</th>
              <th>Edad</th>
              <th>DNI</th>
              <th>Obra Social</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let usuario of pacientes">
              <td>
                <div class="flex justify-center items-center">
                  <img [src]="usuario.urlImagenUno" alt="Imagen perfil" width="48" height="48" class="rounded-full w-12 h-12 object-cover cursor-pointer" (click)="descargarTurnosPaciente(usuario)" matTooltip="Descargar turnos" matTooltipPosition="above">
                </div>
              </td>
              <td>{{ usuario.nombre }}</td>
              <td>{{ usuario.apellido }}</td>
              <td>{{ usuario.email }}</td>
              <td>{{ usuario.edad }}</td>
              <td>{{ usuario.dni }}</td>
              <td>{{ usuario.obraSocial || '-' }}</td>
              <td class="text-center">
                <button class="btn btn-sm btn-outline-info" (click)="mostrarHistorialClinico(usuario)">
                  <i class="bi bi-journal-medical me-1"></i> Historial
                </button>
              </td>
            </tr>

            <tr *ngIf="pacientes.length === 0">
              <td colspan="8" class="text-center py-3 text-muted">No hay pacientes registrados.</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
