<div class="bg-white p-4 rounded shadow-sm">
    <p class="text-muted mb-4">
    Seleccioná una especialidad para comenzar el proceso de solicitud de turno. Luego, elegí un profesional, un día y un horario.
    </p>
    <div class="flex flex-wrap justify-center gap-4">
        <button *ngFor="let esp of especialidades"
                (click)="seleccionarEspecialidad(esp)"
                class="p-4 rounded bg-white w-60 cursor-pointer mt-2 shadow-md transition ease-in hover:scale-110 flex justify-center gap-4 items-center">

            <div class="d-flex items-center gap-2 justify-center">
                <img class="w-10" [src]="esp.imagen">
                <h5 class="text-lg font-semibold text-center mt-2">{{ esp.especialidad }}</h5>
            </div>
        </button>
    </div>
    <div class="text-center text-secondary">
    <i class="bi bi-arrow-right-circle fs-1 d-block mb-3"></i>
    <p class="fw-medium">Esperando que selecciones una especialidad...</p>
    </div>
</div>